.btn {
  display: inline-block;
  position: relative;
  font-size: 11px;
  font-size: .6875rem;
  font-family: "Playfair Display",serif;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 15px 18px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 10;
  color: #75aaf8;
  text-decoration: none;
  display: inline-block;
}
.btn .bg-large {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: -4px;
  padding: 0 4px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(127,242,255,.15);
}
.btn .bg-tall {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -4px;
  left: 0;
  padding: 4px 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border: 1px solid rgba(255,127,159, 0.2);
}
.btn .bg-medium {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -8px;
  left: 4px;
  padding: 8px 0;
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border: 1px solid rgba(200,142,255,.05);
}

.btn .bg-large .line-bottom-left:after, 
.btn .bg-large .line-bottom-left:before, 
.btn .bg-large .line-top-right:after, 
.btn .bg-large .line-top-right:before {
  content: "";
  position: absolute;
  background: rgba(127,242,255,1);
  -ms-transform: scale(0);
  -webkit-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.4,0,.1,1);
  transition: -webkit-transform .6s cubic-bezier(.4,0,.1,1);
  transition: transform .6s cubic-bezier(.4,0,.1,1);
  transition: transform .6s cubic-bezier(.4,0,.1,1),-webkit-transform .6s cubic-bezier(.4,0,.1,1);
}

.btn .bg-large .line-bottom-left:before, 
.btn .bg-large .line-top-right:before {
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0) translateZ(0);
  transform: scaleX(0) translateZ(0);
}

.btn .bg-large .line-bottom-left:after,
.btn .bg-large .line-top-right:after {
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0) translateZ(0);
  transform: scaleY(0) translateZ(0);
}

.btn .bg-large .line-bottom-left:after {
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.btn .bg-large .line-bottom-left:before {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.btn .bg-large .line-top-right:before {
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.btn .bg-large .line-top-right:after {
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.btn .bg-tall .line-bottom-left:before {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}

.btn .bg-tall .line-bottom-left:after {
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.btn .bg-tall .line-top-right:before {
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.btn .bg-tall .line-top-right:after {
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.btn .bg-tall .line-bottom-left:before, 
.btn .bg-tall .line-top-right:before {
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0) translateZ(0);
  transform: scaleX(0) translateZ(0);
}

.btn .bg-tall .line-bottom-left:after,
.btn .bg-tall .line-top-right:after {
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0) translateZ(0);
  transform: scaleY(0) translateZ(0);
}

.btn .bg-tall .line-bottom-left:after, 
.btn .bg-tall .line-bottom-left:before,
.btn .bg-tall .line-top-right:after,
.btn .bg-tall .line-top-right:before {
  content: "";
  position: absolute;
  background: rgba(255,127,159,.5);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.4,0,.1,1);
  transition: -webkit-transform .6s cubic-bezier(.4,0,.1,1);
  transition: transform .6s cubic-bezier(.4,0,.1,1);
  transition: transform .6s cubic-bezier(.4,0,.1,1),-webkit-transform .6s cubic-bezier(.4,0,.1,1);
}

.btn .bg-medium .line-bottom-left:before {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}

.btn .bg-medium .line-bottom-left:after {
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.btn .bg-medium .line-top-right:before {
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.btn .bg-medium .line-top-right:after {
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.btn .bg-medium .line-bottom-left:before, 
.btn .bg-medium .line-top-right:before {
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0) translateZ(0);
  transform: scaleX(0) translateZ(0);
}

.btn .bg-medium .line-bottom-left:after, 
.btn .bg-medium .line-top-right:after {
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0) translateZ(0);
  transform: scaleY(0) translateZ(0);
}

.btn .bg-medium .line-bottom-left:after, 
.btn .bg-medium .line-bottom-left:before, 
.btn .bg-medium .line-top-right:after,
.btn .bg-medium .line-top-right:before {
  content: "";
  position: absolute;
  background: rgba(200,142,255,.5);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.4,0,.1,1);
  transition: -webkit-transform .6s cubic-bezier(.4,0,.1,1);
  transition: transform .6s cubic-bezier(.4,0,.1,1);
  transition: transform .6s cubic-bezier(.4,0,.1,1),-webkit-transform .6s cubic-bezier(.4,0,.1,1);
}



.btn:hover .line-bottom-left:after{
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1) translateZ(0);
  transform: scaleY(1) translateZ(0);
}
.btn:hover .line-top-right:after{
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1) translateZ(0);
  transform: scaleY(1) translateZ(0);
}

.btn:hover .line-bottom-left:before{
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0);
}
.btn:hover .line-top-right:before{
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0);
}