
html, body {
    overflow: hidden;
    margin: 0;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    color: #333;
}
#wrapper {
    position: absolute;
    left: 0;
    width: 320px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.bubble{
  margin-bottom: 40px;
  cursor: pointer;
}
.bubble .bubble-value {
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  color: transparent;
  z-index: 999;
  position: relative;
}

.bubble .bubble-value:before {
  color: #0ff;
  z-index: -1;
}
.bubble .bubble-value:after {
  color: #f0f;
  z-index: -2;
}
.bubble .bubble-value:after, .bubble .bubble-value:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  visibility: hidden;
}
@keyframes glitch{
  0%{-webkit-transform:translate(0);transform:translate(0)}
  20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}
  40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}
  60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}
  80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}
  to{-webkit-transform:translate(0);transform:translate(0)}
}
  .bubble:hover .bubble-value:after,
.bubble:hover .bubble-value:before{
  visibility:visible
}
.bubble:hover .bubble-value:before{
  -webkit-animation:glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;
  animation:glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;
}
.bubble:hover .bubble-value:after{
  -webkit-animation:glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;
  animation:glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;
}

.logo{
    font-size: 40px;
    text-transform: uppercase;
    fill: none;
    stroke: #3594ee;
    stroke-width: 1px;
    stroke-dasharray: 90 310;
    font-family: 'Roboto', 'Pingfang SC', 'Microsoft Yahei', sans-serif;
    font-weight: 700;
}
.svg-text{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 90 310;
  animation: stroke 6s infinite linear;
}
.text-1{
  stroke: #3498db;
  text-shadow: 0 0 5px #3498db;
  animation-delay: -1.5s;
}
.text-2{
  stroke: #f39c12;
  text-shadow: 0 0 5px #f39c12;
  animation-delay: -3s;
}
.text-3{
  stroke: #e74c3c;
  text-shadow: 0 0 5px #e74c3c;
  animation-delay: -4.5s;
}
.text-4{
  stroke: #9b59b6;
  text-shadow: 0 0 5px #9b59b6;
  animation-delay: -6s;
}

@keyframes stroke {
100% {
  stroke-dashoffset: -400;
}
}
.footer-yiyan{
  position: absolute;
  text-align:center;
  width: 80%;
  bottom:0;
  margin:10px 10%;
  padding:10px;
  user-select: none;
  color:#969696;
font-size:14px;
}
.row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 0 32px;
  }
  
  .row + .row {
    margin-top: 96px;
  }
  
  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .column + .column {
    margin-top: 16px;
  }
  
  .row:nth-child(2n) .column {
    justify-content: space-around;
  }
  

  .shape.cross.pink {
    stroke: #ff7f9f;
  }
  
  .shape.cross.blue {
    stroke:#7ff2ff;
  }
  
  .shape.cross.green {
    stroke: #6dffaf;
  }
  
  .shape.cross.red {
    stroke:#fb163e;
  }
  
  .shape.cross.violet {
    stroke: #c88eff;
  }
  
  .shape.cross.yellow {
    stroke:  #ffe16b;
  }
  
  .shape.pink {
    fill:  #ff7f9f;
  }
  
  .shape.blue {
    fill:  #7ff2ff;
  }
  
  .shape.green {
    fill: #6dffaf;
  }
  
  .shape.red {
    fill: #fb163e;
  }
  
  .shape.violet {
    fill: #c88eff;
  }
  
  .shape.yellow {
    fill: #ffe16b;
  }
  
  @media only screen and (min-width: 768px) {
    main {
      background-color: initial;
      padding: 0;
    }

  
    .column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .column:first-of-type {
      padding-right: 144px;
    }
  
    .column + .column {
      margin-top: 0;
      padding-left: 144px;
    }
  }
